.myBody {
  background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/old_wall.png");
}

.wrapper{
  position: relative;
  width: 540px;
  margin: 0 auto;
}

.background{
  position: absolute;
  top: 140px;
  width: 540px;
  height: 540px;
  background-color: #8A8A94;
  border-radius: 260px;
  margin-bottom: 140px;
  box-shadow: 0 0 35px gray;
}

.pad {
  width: 250px;
  height: 250px;
  float: left;
  margin: 10px;
  opacity: 0.5;
  cursor: pointer;
}

.shape1 {
  border-top-left-radius: 300px;
  background-color: #00FF00;
}

.shape2 {
  float: left;
  border-top-right-radius: 300px;
  background-color: #FF0040;
  clear: right;
}

.shape3 {
  float: left;
  border-bottom-left-radius: 300px;
  background-color: #F7FE2E;
  clear: left;
}

.shape4 {
  float: left;
  border-bottom-right-radius: 300px;
  background-color: #4000FF;
}

.circle {
  position: absolute;
  top: 130px;
  left: 130px;
  width: 280px;
  height: 280px;
  background: #0000;
  border-radius: 50%;
  background-color: #8A8A94;
}

.inner-circle {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 260px;
  height: 260px;
  background: #0000;
  border-radius: 50%;
  background-color: #F2F2F2;
  padding: 35px;
}

.simon-label {
  position: relative;
  top: -3px; 
  left: 20px;
  width: 160px;
  height: 60px;
  font-family: 'Alfa Slab One', cursive;
  font-size: 55px;
  color: #424242;
  cursor: default;
}

.blk-sss {
  position: relative;
  top: 1px;
  left: -8px;
  width: 230px;
  height: 60px;
  text-align: center;
}

.display {
  display: inline-block;
}

.margin {
  margin: 26px;
}

.sss-text{
  text-align: center;
  font-family: monospace;
  font-size: 12px;
  font-weight: bold;
}

.round-button { 
  width: 30px;
  height: 30px;
  line-height: 90px;
  border: 3px solid #585858;
  border-radius: 50%;
  box-shadow: 0 0 15px gray;
  outline: none;
}

.round-button:active{
  box-shadow : 0 1px 1px #F2F2F2;
  position: relative;
  top: 2px;
}

.btn-start {
  background: #FE2E64;
}

.btn-strict {
  background: #F7FE2E;
}

.score {  
  position: relative;
  top: 12px;
  border: 3px solid #585858;
  border-radius: 15px;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 40px;  
  font-family: monospace;
  background-color: #3B0B0B;  
  color: #610B21;
}

.light-strict {
  position: relative;
  top: -10px;
  left: 14px;
  width: 11px;
  height: 11px;
  border: 3px solid #585858;
  border-radius: 50%;
  background: #3B0B0B;
}

.blk-switch {
  position: relative;
  left: 72px;
  top: 50px;
  width: 80px;
  height: 22px;
}
